CSS
 /*universal selector*/
*{
  text-align: center;
  text-decoration-color: pink
}
/*type selector*/
html {
  background-color: lightpink
}
/*class selector*/
.light-pink-background{
  font-style: oblique;
  font-size: 25px
  font-family:cursive;
  color: yellow;
}
/*id selector*/
#call-me{
  font-family: monospace;
  font-size: 25px
  color: blue;
}
