<!DOCTYPE html>
 /*universal changes*/
*{
  text-align: center;
  text-decoration-color: pink
}
/*tags*/
html {
  background-color: lightpink
}
/*classes*/
.light-pink-background{
  font-style: normal;
  color: yellow;
  background-color: lightpink
}
/*id's*/
#call-me{
  font-family: monospace;
  font-size: 25px
  color: blue !important;
  decoration: leaves;
}
